.adjust-me-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
}

.overlay-container {
    position: absolute;
    width: 1920px;
    height: 412px;
    bottom: 0;
    background: url("../images/overlay toolbox alt.png") no-repeat;
}

::-webkit-scrollbar {
    display: none;
}

.text-regular {
    color: white;
}

.text-header {
    color: #71a3f8;
}

.text-warn {
    /*color: #f4faba;*/
    color: #c5a79a;
}