.command-card {
	position: absolute;
	left:1536px;
	top: 840px;
	width: 365px;
	height: 229px;
	background-image: url("../images/command_card_bg.png");
	background-repeat: no-repeat;
	padding: 18px 0 0 7px;
}

.structure-table
{
	table-layout: fixed;
	border-collapse: collapse;
	border-width: 0px;
}

.structure-table td {
	width: 48px;
	height: 48px;
	text-align: center; /* affects the quantity div (icon-text-layer) */
	display: inline-block;
}

/* we recreate the border here to avoid regular border affecting the layout */
td.state-unpowered {
	background: linear-gradient(90deg, red 100%, transparent 0%), 
		linear-gradient(90deg, red 100%, transparent 0%), 
		linear-gradient(0deg, red 100%, transparent 0%), 
		linear-gradient(0deg, red 100%, transparent 0%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 100% 3px, 100% 3px, 3px 100%, 3px 100%;
	background-position: 0px 0px, 100% 100%, 0px 100%, 100% 0px;
}

/* animated dotted green border here */
td.state-incomplete {
	background: linear-gradient(90deg, lightgreen 50%, transparent 50%), 
		linear-gradient(90deg, lightgreen 50%, transparent 50%), 
		linear-gradient(0deg, lightgreen 50%, transparent 50%), 
		linear-gradient(0deg, lightgreen 50%, transparent 50%);
	background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
	background-size: 13px 3px, 13px 3px, 3px 13px, 3px 13px;
	background-position: 0px 0px, 100% 100%, 0px 100%, 100% 0px;
  
	animation: border-dance 4s infinite linear;
}

@-webkit-keyframes rotate {
  from {-webkit-transform:rotate(0deg);}
  to {  -webkit-transform:rotate(360deg);}
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px, 100% 100%, 0px 100%, 100% 0px;
  }
  100% {
    background-position: 100% 0px, 0px 100%, 0px 0px, 100% 100%;
  }
}

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.icon {
	width: 100%;
	height: 100%;
	background-size: 53px 53px;
	background-position: -3px -3px;
	text-align: center;
}

.icon.disabled { filter: contrast(200%) brightness(20%); }
td.state-incomplete  .icon { filter: contrast(200%) brightness(55%); }

/* 'wireframe' icons are special */
.icon.building.disabled {
	background-size: 48px 48px;
	background-position: -1px -1px;
}

.icon-text-layer
{
	/* CSS magic */
	position: relative;
	top: -40px;
	
	width: 20px;
	height: 25px;
	color: white;
	font-weight: bold;
	text-align: left;
	font-size: 25px;
	text-shadow: 4px 4px 2px black, -4px -4px 2px black, ;
}

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.icon.b-gate{ background-image: url("../images/icons/btn-building-protoss-gateway.png"); }
.icon.b-gate.disabled{ background-image: url("../images/icons/btn-building-protoss-gateway.png"); }

.icon.b-forge{ background-image: url("../images/icons/btn-building-protoss-forge.png"); }
.icon.b-forge.disabled{ background-image: url("../images/icons/wireframe-protoss-forge.png"); }

.icon.b-core{ background-image: url("../images/icons/btn-building-protoss-cyberneticscore.png"); }
.icon.b-core.disabled{ background-image: url("../images/icons/wireframe-protoss-cyberneticscore.png"); }

.icon.b-twilight{ background-image: url("../images/icons/btn-building-protoss-twilightcouncil.png"); }
.icon.b-twilight.disabled{ background-image: url("../images/icons/wireframe-protoss-twilightcouncil.png"); }

.icon.b-stargate{ background-image: url("../images/icons/btn-building-protoss-stargate.png"); }
.icon.b-stargate.disabled{ background-image: url("../images/icons/wireframe-protoss-stargate.png"); }

.icon.b-robo{ background-image: url("../images/icons/btn-building-protoss-roboticsfacility.png"); }
.icon.b-robo.disabled{ background-image: url("../images/icons/wireframe-protoss-roboticsfacility.png"); }

.icon.b-robobay{ background-image: url("../images/icons/btn-building-protoss-roboticssupportbay.png"); }
.icon.b-robobay.disabled{ background-image: url("../images/icons/wireframe-protoss-roboticssupportbay.png"); }

.icon.b-beacon{ background-image: url("../images/icons/btn-building-protoss-fleetbeacon.png"); }
.icon.b-beacon.disabled{ background-image: url("../images/icons/wireframe-protoss-fleetbeacon.png"); }

.icon.b-shrine{ background-image: url("../images/icons/btn-building-protoss-darkshrine.png"); }
.icon.b-shrine.disabled{ background-image: url("../images/icons/wireframe-protoss-darkshrine.png"); }

.icon.b-archives{ background-image: url("../images/icons/btn-building-protoss-templararchives.png"); }
.icon.b-archives.disabled{ background-image: url("../images/icons/wireframe-protoss-templararchives.png"); }

/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/

.icon.upgrade{
	
}

.icon.u-weapons-ground.level0{ background-image: url("../images/icons/btn-upgrade-protoss-groundweaponslevel0.png"); }
.icon.u-weapons-ground.level1{ background-image: url("../images/icons/btn-upgrade-protoss-groundweaponslevel1.png"); }
.icon.u-weapons-ground.level2{ background-image: url("../images/icons/btn-upgrade-protoss-groundweaponslevel2.png"); }
.icon.u-weapons-ground.level3{ background-image: url("../images/icons/btn-upgrade-protoss-groundweaponslevel3.png"); }

.icon.u-armor-ground.level0{ background-image: url("../images/icons/btn-upgrade-protoss-groundarmorlevel0.png"); }
.icon.u-armor-ground.level1{ background-image: url("../images/icons/btn-upgrade-protoss-groundarmorlevel1.png"); }
.icon.u-armor-ground.level2{ background-image: url("../images/icons/btn-upgrade-protoss-groundarmorlevel2.png"); }
.icon.u-armor-ground.level3{ background-image: url("../images/icons/btn-upgrade-protoss-groundarmorlevel3.png"); }

.icon.u-shields.level0{ background-image: url("../images/icons/btn-upgrade-protoss-shieldslevel0.png"); }
.icon.u-shields.level1{ background-image: url("../images/icons/btn-upgrade-protoss-shieldslevel1.png"); }
.icon.u-shields.level2{ background-image: url("../images/icons/btn-upgrade-protoss-shieldslevel2.png"); }
.icon.u-shields.level3{ background-image: url("../images/icons/btn-upgrade-protoss-shieldslevel3.png"); }

.icon.u-weapons-air.level0{ background-image: url("../images/icons/btn-upgrade-protoss-airweaponslevel0.png"); }
.icon.u-weapons-air.level1{ background-image: url("../images/icons/btn-upgrade-protoss-airweaponslevel1.png"); }
.icon.u-weapons-air.level2{ background-image: url("../images/icons/btn-upgrade-protoss-airweaponslevel2.png"); }
.icon.u-weapons-air.level3{ background-image: url("../images/icons/btn-upgrade-protoss-airweaponslevel3.png"); }

.icon.u-armor-air.level0{ background-image: url("../images/icons/btn-upgrade-protoss-airarmorlevel0.png"); }
.icon.u-armor-air.level1{ background-image: url("../images/icons/btn-upgrade-protoss-airarmorlevel1.png"); }
.icon.u-armor-air.level2{ background-image: url("../images/icons/btn-upgrade-protoss-airarmorlevel2.png"); }
.icon.u-armor-air.level3{ background-image: url("../images/icons/btn-upgrade-protoss-airarmorlevel3.png"); }


/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------*/


.icon.r-warp{ background-image: url("../images/icons/btn-building-protoss-warpgate.png"); }

.icon.r-adept{ background-image: url("../images/icons/btn-upgrade-protoss-resonatingglaives-color.png"); }
/*.icon.r-adept.disabled{ background-image: url("../images/icons/btn-upgrade-protoss-resonatingglaives.png"); } */

.icon.r-zealot{ background-image: url("../images/icons/btn-ability-protoss-charge-color.png"); }
/*.icon.r-zealot.disabled{ background-image: url("../images/icons/btn-ability-protoss-charge.png"); } */

.icon.r-stalker{ background-image: url("../images/icons/btn-ability-protoss-blink-color.png"); }
/*.icon.r-stalker.disabled{ background-image: url("../images/icons/btn-ability-protoss-blink.png"); }*/

.icon.r-storm{ background-image: url("../images/icons/btn-ability-protoss-psistorm-color.png"); }
/*.icon.r-storm.disabled{ background-image: url("../images/icons/btn-ability-protoss-psistorm.png"); }*/

.icon.r-dt{ background-image: url("../images/icons/btn-ability-protoss-shadowdash.png"); }
.icon.r-colossus{ background-image: url("../images/icons/btn-upgrade-protoss-extendedthermallance.png"); }

.icon.r-phoenix{ background-image: url("../images/icons/btn-upgrade-protoss-phoenixrange.png"); }
.icon.r-obs{ background-image: url("../images/icons/btn-upgrade-protoss-graviticbooster.png"); }
.icon.r-prism{ background-image: url("../images/icons/btn-upgrade-protoss-graviticdrive.png"); }
.icon.r-carrier{ background-image: url("../images/icons/btn-upgrade-protoss-gravitoncatapult.png"); }
.icon.r-voidray{ background-image: url("../images/icons/btn-ability-protoss-fluxvanes.png"); }






