/*.in-game-events-widget {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 350px;
    height: 500px;
    border: 2px solid black;
}

.in-game-events-widget > .log {
    width: 100%;
}

.in-game-events-widget .event {
    width: 98%;
    height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: black;
}

.100forgestest {
    color: red;
}

.in-game-events-widget .new-event {  
    display: none;
}*/