body {
    padding: 0;
    margin: 0;
}

.fullmode-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px 0;
    font-family: "Michroma";
    font-size: 30px;
    background-image: url("../images/leaderboards_bg.png");
	text-align: center;
}

.fullmode-gamestats {
    position: relative;
    height: 200px;
}

.gamestat.result {
    display: block;
    margin: 10px 0;
    font-size: 100px;
}

.gamestat.result.win {
    /* color: #ffe400;*/ 
	text-shadow: 5px 5px #777777;
}

.gamestat.result.loss {
    color: red;
}

.mvp-container {
	font-size: 55px;
}

.mvp {
	color: #c5a79a;
	margin-right: 10px;
}

.mvp-header {
	margin: 10px 0;
}
.mvp-stats {
	margin-top: 5px;
}

.mvpstat {
	color: #71a3f8;
	margin: 0 5px;
}

.achievement-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 10px -2px 10px;
}

.cup {
    background-image: url("../images/cup.png");
    background-size: 40px 40px;
}

.league-inline {
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

.leaderboards-table .league-inline { width: 25px; height: 23px; margin-top: -6px;}
.mvp-container .league-inline { width: 60px; height: 60px; margin-top: -10px;}

.league-inline.bronze { background-image: url("../images/icons_leagues/icon_bronze.png"); }
.league-inline.silver { background-image: url("../images/icons_leagues/icon_silver.png"); }
.league-inline.gold { background-image: url("../images/icons_leagues/icon_gold.png"); }
.league-inline.platinum { background-image: url("../images/icons_leagues/icon_platinum.png"); }
.league-inline.diamond { background-image: url("../images/icons_leagues/icon_diamond.png"); }
.league-inline.master { background-image: url("../images/icons_leagues/icon_master.png"); }
.league-inline.grandmaster { background-image: url("../images/icons_leagues/icon_grandmaster.png"); }

.league-inline.medal { 
    float:right; 
    position: relative;
    display: block;
    z-index: 1000;
    margin-top: 0px;
}

.league-inline.medal.forge { background-image: url("../images/icons_medals/forge.png"); }
.league-inline.medal.nutella { background-image: url("../images/icons_medals/nutella.png"); }
.league-inline.medal.top10 { background-image: url("../images/icons_medals/top10.png"); }
.league-inline.medal.top25 { background-image: url("../images/icons_medals/top25.png"); }
.league-inline.medal.top50 { background-image: url("../images/icons_medals/top50.png"); }
.league-inline.medal.survival { background-image: url("../images/icons_medals/survival.png"); }
.league-inline.medal.horsie { background-image: url("../images/icons_medals/horsie.png"); }
.league-inline.medal.ap31sin { background-image: url("../images/icons_medals/ap31sin.png"); }

/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/

.leaderboard {
    margin: 20px auto 0 auto;
    width: 1800px;
    border: 1px solid #c5a79a;
}

.game-leaderboard {
    height: 660px;
}

.global-leaderboard {
    height: 925px;
}

.leaderboards-table {
	width: 100%;
	height: 100%;
	font-size: 16px;
	border: 1px solid #c5a79a;
	border-collapse: collapse;
	color: lightblue;
	background-color: #0a212c;
    table-layout: fixed;
}

.leaderboards-table tr {
	/*border: 10px solid transparent !important;	*/
	background-clip: padding-box;
	border-bottom: 5px solid transparent;	
}

.leaderboards-table th {
	color: white;
	border: 1px solid #c5a79a !important;
}

.leaderboards-table td {
	/*border-left: 5px solid transparent;	*/
	background-color: #0d3041;
	background-clip: padding-box;
	overflow: hidden;
	border-left: 1px solid transparent;
}

.leaderboards-table td.value {
	font-family: Lucida Console;
	font-size:20px;
}
.leaderboards-table td.playerName div {
	text-align: left;
	white-space: nowrap;
    overflow-x: hidden;
    width: 100%;
    margin: 0;
}

.leaderboards-table td.playerName p {
    margin: 0;
    overflow-x: hidden;
    vertical-align: top;
    display: inline-block;
    text-overflow: ellipsis;
	white-space: nowrap;
}

.leaderboards-table td.player-highlight {
	background-color: #186b94;
	font-weight: bold;
}

.leaderboards-table td.rank { 
	border-left-color: #c5a79a !important;
	padding: 0 5px;
}

.leaderboards-table td.global-rank {
	text-align: left;
	white-space: nowrap;
}

.leaderboards-table .climb.raise {
	color: lightgreen;
}

.leaderboards-table .climb.drop {
	color: red;
}

/*------------------------------------------------------*/
/*---------------ANIMATION------------------------------*/
/*------------------------------------------------------*/

.fullmode-game-screen {
	/*opacity: 0;*/
	animation: 30s fadeOut;
	animation-fill-mode: forwards;
}

.fullmode-xp-leaderboards-screen {
	position: relative;
	top: -990px;
	/*opacity: 1;*/
	opacity: 0;
	animation: 30s fadeIn;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
        opacity: 0;
    }
	
	90% {
        opacity: 0;
    }
	
	100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
	0% {	
        opacity: 1;
    }
	
	90% {
        opacity: 1;
    }

	100% {
        opacity: 0;
    }
}