body {
    padding: 0;
    margin: 0;
}

.fullmode-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 50px 0;
    font-family: "Michroma";
    font-size: 30px;
    background-image: url("../images/leaderboards_bg.png");
	text-align: center;
}

.fullmode-gamestats {
    position: relative;
    height: 200px;
}

.gamestat.result {
    display: block;
    margin: 10px 0;
    font-size: 100px;
}

.gamestat.result.win {
    /* color: #ffe400;*/ 
	text-shadow: 5px 5px #777777;
}

.gamestat.result.loss {
    color: red;
}

.mvp {
	color: #c5a79a;
	margin-right: 10px;
}

.mvp-header {
	margin: 10px 0;
}
.mvp-stats {
	margin-top: 5px;
}

.mvpstat {
	color: #71a3f8;
	margin: 0 5px;
}

.achievement-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 10px -5px 10px;
}

.cup {
    background-image: url("../images/cup.png");
    background-size: 40px 40px;
}

.fullmode-leaderboards {
    position: relative;
    margin: 20px auto 0 auto;
    width: 1800px;
    height: 660px;
    border: 1px solid white;
}

.local-leaderboard {
	width: 100%;
	font-size: 16px;
	border: 7px solid transparent;
	border-collapse: none;
	color: lightblue;
}

.local-leaderboard tr {
	border: 10px solid transparent !important;	
	background-clip: padding-box;
}

.local-leaderboard td {
	border: 1px solid transparent;	
	background-color: #0d3041;
	background-clip: padding-box;
}